@import "variables.css";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--colors-background);
  color: var(--colors-on-background);
  line-height: var(--lh-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-normal);
  line-height: var(--lh-normal);
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--colors-on-background);
}

input {
  padding: 0.5rem;
  font-size: var(--fs-sm);
  background: transparent;
  color: var(--colors-on-background);
}

button {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 992px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}
